.forecastInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.forecastInfo ul li {
  list-style: none;
}

.morning {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: #f5eab2;
}

.morning .upRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.morning .midRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.morning .downRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.midDay {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: #afead6;
}

.midDay .upRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.midDay .midRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.midDay .downRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.evening {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: #f6dbbc;
}

.evening .upRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.evening .midRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.evening .downRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
